@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-BlackCondensed.eot');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-Regular.eot');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-Medium.eot');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-BoldItalic.eot');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-UltraLightCond.eot');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro Condensed';
    src: url('./DINNextLTPro-BoldCondensed.eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: url('./DINNextRoundedLTPro-Light.eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-UltraLightIt.eot');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-UltraLight.eot');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-Condensed.eot');
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-Italic.eot');
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: url('./DINNextRoundedLTPro-Medium.eot');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-Heavy.eot');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-HeavyItalic.eot');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-Bold.eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: url('./DINNextRoundedLTPro-Regular.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-Light.eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: url('./DINNextRoundedLTPro-Bold.eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro Medium Cond';
    src: url('./DINNextLTPro-HeavyCondensed.eot');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-LightItalic.eot');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-LightCondensed.eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-MediumItalic.eot');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-Black.eot');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-MediumCond.eot');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('./DINNextLTPro-BlackItalic.eot');
    font-weight: 900;
    font-style: italic;
}

